<ng-container *ngIf="mocktail$ | async as mocktail"; else loader>

    <div class="container">
        <div class="py-5">
            <button type="button" class="btn btn-outline-secondary ms-3"(click)="onBack()"> <i class="bi bi-arrow-left"></i> Back</button>

            <div class="col-12 col-md-8 col-lg-6 mx-auto">
                <img [src]="mocktail.imageUrl" [title]="mocktail.name" class="img-fluid">

                <h1 class="mt-4">{{mocktail.name}}</h1>
                <div class="d-flex justify-content-between mt-4">
                    <span>{{mocktail.author}}</span>
                    <span>{{mocktail.publishedDate | date:'dd-MM-yyyy'}}</span>
                </div>

                <div *ngIf="mocktail.bases" class="mt-4">
                    <span class="badge bg-secondary me-2" *ngFor="let base of mocktail.bases">
                        {{base.name}}
                    </span>
                </div>

                <div class="mt-4 blog-content">
                    <markdown [data]="mocktail.description"></markdown>
                </div>

            </div>
        </div>
    </div>

</ng-container>

<ng-template #loader>
    <div class="text-center mt-5">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>