<div class="container">
    <h1 class="mt-3">Recipes List</h1>

    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/recipes/add']" class="btn btn-primary">Add Recipe</a>
    </div>

    <ng-container *ngIf="recipes$ | async as recipes">

        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Published Date</th>
                    <th>Cuisine</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recipe of recipes">
                    <td>{{recipe.name}}</td>
                    <td>{{recipe.author}}</td>
                    <td>{{recipe.publishedDate}}</td>
                    <td>
                        <span *ngFor="let cuisine of recipe.cuisines">
                            <span class="badge text-bg-secondary me-2">{{cuisine.mainCuisine}}</span>
                            <span class="badge text-bg-info me-2">{{cuisine.subCuisine}}</span>
                        </span>
                    </td>
                    <td><a class="btn btn-light" [routerLink]="['/admin/recipes',recipe.id]" >Edit</a></td>
                </tr>
            </tbody>
        </table>

    </ng-container>

</div>