<!-- home.component.html -->
<div class="cover-container">
    <div class="cover-content">
      <h1>Sip'N'Spice</h1>
      <p>Your online Cookbook & Mixology Manual!</p>
      <div class="row">
        <div class="col-4">
            <a class="btn btn-primary btn-lg" [routerLink]="['/recipes']">Food</a>
        </div>
        <div class="col-4">
          <a class="btn btn-primary btn-lg" [routerLink]="['/mocktails']">Mocktails</a>
        </div>
        <div class="col-4">
          <a class="btn btn-primary btn-lg" [routerLink]="['/cocktails']">Cocktails</a>
        </div>
      </div>
    </div>
  </div>
  