<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">SipNSpice</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['about']">About
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['recipes']">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['mocktails']">Mocktails</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['cocktails']">Cocktails</a>
        </li>
        <ng-container *ngIf="user !==undefined && user?.roles?.includes('Writer')">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/admin/cuisines']">Cuisines</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" [routerLink]="['/admin/recipes']">Recipes</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" [routerLink]="['/admin/bases']">Bases</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" [routerLink]="['/admin/drinks']">Drinks</a></li>
            </ul>
          </li>
        </ng-container>
      </ul>

      <div class="d-flex">

        <ng-container *ngIf="user === undefined; else showLogout">
          <!--Show Register Button-->
          <a [routerLink]="['/register']" class="btn btn-primary btn-sm">Register</a>
          <!--Show Login Button-->
          <a [routerLink]="['/login']" class="btn btn-primary btn-sm">Login</a>
        </ng-container>
        <ng-template #showLogout>
          <div class="d-flex align-items-center">
            <span id="user">{{user?.email}}</span>
            <button class="btn btn-primary ms-3" (click)="onLogout()">Logout</button>
          </div>
        </ng-template>
      </div>

    </div>
  </div>
</nav>