<footer>
  <div class="row" id="footer-content">
    <div class="col-3 text-center">
      <p id="sociallinks">
        <a class="pe-4" href="https://www.linkedin.com/in/nathancliverego" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a class="pe-4" href="https://www.facebook.com/clive.nathan" target="_blank"><i class="bi bi-facebook"></i></a>
        <a class="pe-4" href="https://github.com/nathancrego" target="_blank"><i class="bi bi-github"></i></a>
        <a class="pe-4" href="https://www.instagram.com/_mr_rego_/" target="_blank"><i class="bi bi-instagram"></i></a>
      </p>
    </div>
    <div class="col-6">
      <p id="footerCopyright">&copy; SipNSpice by Nathan - 2024</p>
    </div>
    <div class="col-3 text-center">
      <p id="footerlinks">
        <a class="pe-3" [routerLink]="['about']">About</a>
        <a class="pe-3" [routerLink]="['recipes']">Recipes</a>
        <a class="pe-3" [routerLink]="['mocktails']">Mocktails</a>
        <a class="pe-3" [routerLink]="['cocktails']">Cocktails</a>
      </p>
    </div>
  </div>
</footer>