<div class="container">
    <div class="my-5">
        <div class="row align-items-strech">
            <ng-container *ngIf="cock$ | async as cocks">
                <div class="col-12 col-md-4 mb-3" *ngFor="let cock of cocks">
                    <div class="card h-100">
                        <img [src]="cock.imageUrl" class="card-img-top" [alt]="cock.name">
                        <div class="card-body d-flex flex-column">
                            <h2 class="card-title">
                                {{cock.name}}
                            </h2>
                            <p class="card-text">
                                {{cock.shortDescription}}
                            </p>
                        
                            <div class="d-flex justify-content-between mt-1">
                                <span>{{cock.author}}</span>
                                <span>{{cock.publishedDate | date:'dd-MM-yyyy'}}</span>
                            </div>
                        
                            <a [routerLink]="['/cocktails',cock.id]" class="btn btn-primary btn-sm align-items-center justify-content-end mt-2" style="flex:none">
                                Get Recipe</a>
                        </div>
                    </div>
                </div>
            </ng-container>
    </div>

</div>