<div class="container">
    <h1 class="mt-3">Edit Base</h1>

    <ng-container *ngIf="base; else notFound">
        <form #form="ngForm" (ngSubmit)="onFormSubmit()">
            <div class="mt-2">
                <div class="mt-3">
                    <label class="form-label" for="baseId">Base ID</label>
                    <input type="text" disabled 
                    id="baseId"
                    class="form-control"
                    name="baseId"
                    value="{{base.id}}">
                </div>
                <div class="mt-3">
                    <label class="form-label" for="baseName">Base</label>
                    <input type="text"
                    id="baseName"
                    class="form-control"
                    name="baseName"
                    [(ngModel)]="base.name">
                </div>
                <div class="mt-3 d-flex">
                    <button type="submit" class="btn btn-outline-success"> <i class="bi bi-pencil-fill"></i> Update</button>
                    <button type="button" class="btn btn-outline-danger ms-3"(click)="onDelete()"> <i class="bi bi-trash-fill"></i> Delete</button>
                    <button type="button" class="btn btn-outline-secondary ms-3"(click)="onBack()"> <i class="bi bi-arrow-left"></i> Back To List</button>
                </div>
            </div>
        </form>
    </ng-container>

    <!--template using temp variable for notFound-->
    <ng-template #notFound>
        <div class="alert alert-warning" role="alert">
            Base not found!
          </div>
    </ng-template>

</div>